.header-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #eeedeb;
}
.header-box .logo {
  padding: 16px 0;
}
.header-box .logo a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
.header-box .logo img {
  width: 700px;
  height: auto;
}
